<div class="row">
  <h1 class="titulo">Proyectos Realizados</h1>
  <div class="contenedor">
    <div>
      <h1>Proyecto 1 - Image Filtering</h1>
      <p>What does it even mean to filter an image? You can think of filtering an image as taking the pixels of some
        original
        image, and modifying each pixel in such a way that a particular effect is apparent in the resulting image.</p>
    </div>
    <div>
      <h1>Proyecto 2 - Voting Program</h1>
      <p>I implemented a program that runs a plurality election. It is a very simple algorithm for determining the
        winner of an election.
        Perhaps the simplest way to hold an election, though, is via a method commonly known as the “plurality vote”
        (also known
        as “first-past-the-post” or “winner take all”). In the plurality vote, every voter gets to vote for one
        candidate. At
        the end of the election, whichever candidate has the greatest number of votes is declared the winner of the
        election.
      </p>
    </div>
    <div>
      <h1>Proyecto 3 - Image Recovering</h1>
      <p>I Implemented a program that recovers JPEGs from a forensic image.</p>
    </div>
    <div>
      <h1>Proyecto 4 - Substitution Cipher</h1>
      <p>In a substitution cipher, we “encrypt” (i.e., conceal in a reversible way) a message by replacing every letter
        with
        another letter. To do so, we use a key: in this case, a mapping of each of the letters of the alphabet to the
        letter it
        should correspond to when we encrypt it. To “decrypt” the message, the receiver of the message would need to
        know the
        key, so that they can reverse the process: translating the encrypt text (generally called ciphertext) back into
        the
        original message (generally called plaintext).</p>
      <div>
        <h1>Proyecto 5 - Credit Card</h1>
        <p>I wrote a program that prompts the user for a credit card number and then reports whether it is a valid
          American Express, MasterCard, or Visa card number</p>
      </div>
      <div>
        <h1>Proyecto 6 - Greedy Algorithms</h1>
        <p>When making change, odds are you want to minimize the number of coins you’re dispensing for each customer,
          lest you run
          out (or annoy the customer!). Fortunately, computer science has given cashiers everywhere ways to minimize
          numbers of
          coins due: greedy algorithms.

          According to the National Institute of Standards and Technology (NIST), a greedy algorithm is one “that always
          takes the
          best immediate, or local, solution while finding an answer. Greedy algorithms find the overall, or globally,
          optimal
          solution for some optimization problems, but may find less-than-optimal solutions for some instances of other
          problems.”It turns out that this greedy approach (i.e., algorithm) is not only locally optimal but also
          globally so for America’s
          currency (and also the European Union’s). That is, so long as a cashier has enough of each coin, this
          largest-to-smallest approach will yield the fewest coins possible.</p>
      </div>
    </div>
  </div>

</div>
