<!-- Default dropstart button -->
<div class="btn-group dropstart">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Menu
  </button>
  <ul class="dropdown-menu dropdown-menu-dark">
    <!-- Dropdown menu links -->
    <li class="img-container">
      <div>
        <button type="button" class="btn btn-primary" routerLink="/nuevaimg/1" *ngIf="isLogged">
          Cambiar Imagen
        </button>
      </div>
      <img class="img-fluid" src={{persona.img}} id="fotodeperfil">
    </li>
    <li><a class="dropdown-item" (click)="toAcerca()" routerLink="">Acerca de mi</a>
    </li>
    <li><a class="dropdown-item" (click)="toEdu()" routerLink="">Educacion</a></li>
    <li><a class="dropdown-item" (click)="toExp()" routerLink="">Experiencias Laborales</a></li>
    <li><a class="dropdown-item" (click)="toSkills()" routerLink="">Hard & Soft Skills</a></li>
    <li><a class="dropdown-item" (click)="toProyecto()" routerLink="">Mis Proyectos</a></li>
    <li><a class="dropdown-item" (click)="toFooter()" routerLink="">Mis redes sociales</a></li>
    <button type="button" class="btn btn-primary" (click)="login()" *ngIf="!isLogged">Login</button>
    <button type="button" class="btn btn-primary" (click)="onLogOut()" *ngIf="isLogged">Logout</button>
  </ul>
</div>
