div {
  background-color: rgb(10, 19, 24);
  color: azure;
  text-align: center;
  margin: 0;
}
.titulo {
  text-align: center;
}
h2,
h3 {
  color: azure;
  font-size: medium;
  display: block;
}
.header {
  background: url(../../../assets/Desk.png) no-repeat top center fixed;
  background-size: cover;
  background-color: rgb(10, 19, 24);
  margin: 0;
  padding: 0%;
  height: 400px;
  color: azure;
}
