<div class="row">
  <div class="header">

  </div>
  <h1 class="titulo" id="educacion">Educacion</h1>
  <div>
    <button type="button" class="btn btn-primary" routerLink="/nuevaedu" *ngIf="isLogged">
      Agregar Educacion
    </button>
  </div>

  <div>
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td>
            <h2>{{Educacion.nombreE}}</h2>
          </td>
          <td>
            <h3>{{Educacion.descripcionE}}</h3>
            <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged">
          <td><i class="bi bi-pencil"></i></td>
          </button>
          <button class="btn btn-danger" (click)="delete(Educacion.id)" *ngIf="isLogged">
            <td><i class="bi bi-eraser"></i></td>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
