<div class="row" id="header">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" id="logoAP">
    </div>
    <div>
      <img src="../../../assets/Cessi.png" id="logocessi">
    </div>
    <div>
      <img src="../../../assets/logo-inti-arg-blanco.png" id="logointi">
    </div>
    <div class="header">
      <app-links></app-links>
    </div>
  </div>
  <div class="persona">
    <p class="nombre">{{persona.nombre}} {{persona.apellido}}:</p>
    <p class="titulo-dev">{{persona.titulo}}</p>
    <button type="button" class="btn btn-primary" routerLink="/editnombre/1" *ngIf="isLogged">
      <td><i class="bi bi-pencil"></i></td>
    </button>
  </div>
</div>
