<div class="row">
  <div class="header">
    <h2 class="welcome">¡Bienvenidos a mi portfolio!</h2>
  </div>
  <div class="content">
    <span>
      <h1 id="acerca">Acerca de mi</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit architecto facilis perspiciatis et maxime
        nesciunt totam a quod, aliquam inventore optio at enim sed saepe porro ducimus. Quod, quasi aliquid. Lorem
        ipsum
        dolor sit amet consectetur adipisicing elit. Laudantium, nam? Ea, rem quae? Error provident id illo sunt
        necessitatibus voluptate, nobis commodi ab fugiat amet ipsa, libero soluta natus est.</p>
    </span>
  </div>

</div>
