<div class="row">
  <div class="header">
    <h2>¡Mi portfolio!</h2>
  </div>
  <h1 id="acerca">Acerca de Mi</h1>
  <div>
    <button type="button" class="btn btn-primary" routerLink="/descripcion" *ngIf="isLogged">
      Agregar Descripcion
    </button>
  </div>
  <div *ngFor="let AcercaDe of acercaDe">
    <h3>{{AcercaDe.descripcion}}</h3>
    <button class="btn btn-light" routerLink="/editdes/{{AcercaDe.id}}" *ngIf="isLogged">
      <i class="bi bi-pencil"></i>
    </button>
    <button class="btn btn-danger" (click)="delete(AcercaDe.id)" *ngIf="isLogged">
      <td><i class="bi bi-eraser"></i></td>
    </button>
  </div>

</div>
