<div class="row">
  <h1 class="titulo" id="proyecto">Mis Proyectos</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-primary" routerLink="/nuevopro" *ngIf="isLogged">
      Agregar Proyecto
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Proyecto of proyecto">
          <td>
            <h2>{{Proyecto.nombre}}</h2>
          </td>
          <td>
            <h3>{{Proyecto.descripcion}}</h3>
            <button class="btn btn-light" routerLink="/editpro/{{Proyecto.id}}" *ngIf="isLogged">
          <td><i class="bi bi-pencil"></i></td>
          </button>
          <button class="btn btn-danger" (click)="delete(Proyecto.id)" *ngIf="isLogged">
            <td><i class="bi bi-eraser"></i></td>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Button trigger modal
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <td><i class="bi bi-pencil"></i></td>
    </button> -->
