.container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0;
}

div {
  background-color: rgb(10, 19, 24);
  margin: 0;
}

#logoAP,
#logointi {
  width: 90px;
  display: inline;
}
#logocessi {
  width: 75px;
  display: inline;
}

.nombre {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  color: azure;
}
.titulo-dev {
  display: inline;
  font-size: 16px;
  color: azure;
  padding-left: 1rem;
}
.persona {
  display: inline;
  text-align: center;
}

@media (max-width: 576px) {
  .persona {
    display: block;
  }
  .titulo-dev {
    padding-left: 1rem;
  }
}
