<div class="row">
  <h1 class="titulo">Experiencia laboral</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Trabajo 1</h1> -
        <h3>(Years)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi totam doloribus itaque sed repudiandae possimus
          magnam aliquam a sapiente, id, quaerat, consequuntur temporibus eius? Dicta reiciendis necessitatibus veniam
          id nostrum!
        </p>
      </li>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 2</h1> -
        <h3>(Years)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi totam doloribus itaque sed repudiandae possimus
          magnam aliquam a sapiente, id, quaerat, consequuntur temporibus eius? Dicta reiciendis necessitatibus veniam
          id nostrum!
        </p>
      </li>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 3</h1> -
        <h3>(Years)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi totam doloribus itaque sed repudiandae possimus
          magnam aliquam a sapiente, id, quaerat, consequuntur temporibus eius? Dicta reiciendis necessitatibus veniam
          id nostrum!
        </p>
      </li>
    </ul>
  </div>
</div>
