<div class="row">
  <h1 class="titulo">Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="100" [imageSrc]=" '../../assets/html.png' "
      [backgroundColor]="'rgb(34, 119, 164)'" [imageHeight]="80" [imageWidth]="80" [showImage]="true"
      [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'" [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="80" [radius]="100" [imageSrc]=" '../../assets/CSS.png' "
      [backgroundColor]="'rgb(34, 119, 164)'" [imageHeight]="80" [imageWidth]="80" [showImage]="true"
      [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'" [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="80" [radius]="100" [imageSrc]=" '../../assets/js.png' "
      [backgroundColor]="'rgb(34, 119, 164)'" [imageHeight]="80" [imageWidth]="80" [showImage]="true"
      [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'" [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="75" [radius]="100" [imageSrc]=" '../../assets/git.png' "
      [backgroundColor]="'rgb(34, 119, 164)'" [imageHeight]="80" [imageWidth]="80" [showImage]="true"
      [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'" [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="95" [radius]="100" [showTitle]="true" [title]="'Ingles'"
      [backgroundColor]="'rgb(34, 119, 164)'" [titleColor]="'black'" [titleFontSize]="'3em'" [showUnits]="false"
      [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4" [outerStrokeColor]="'red'"
      [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="95" [radius]="100" [imageSrc]=" '../../assets/grupal.png' "
      [backgroundColor]="'rgb(34, 119, 164)'" [imageHeight]="80" [imageWidth]="80" [showImage]="true"
      [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'" [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 50%"
        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-info" role="progressbar" aria-label="Info example" style="width: 50%"
        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: 75%"
        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" aria-label="Danger example" style="width: 100%"
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
