.row {
  background-color: rgb(10, 19, 24);
  color: azure;
  margin: 0;
  text-align: center;
  display: flex;
}

.header {
  background: url(../../../assets/Skills.png) no-repeat top center fixed;
  background-size: cover;
  margin: 0;
  padding: 0%;
  height: 400px;
}
.circulo {
  display: contents;
  height: 50px;
}
.button {
  padding-left: 2rem;
}
