<div class="row">
  <h1 class="titulo">Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="100" [imageSrc]=" '../../assets/html.png' "
      [backgroundColor]="'rgb(34, 119, 164)'" [imageHeight]="80" [imageWidth]="80" [showImage]="true"
      [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'" [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="80" [radius]="100" [imageSrc]=" '../../assets/CSS.png' "
      [backgroundColor]="'rgb(34, 119, 164)'" [imageHeight]="80" [imageWidth]="80" [showImage]="true"
      [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'" [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="80" [radius]="100" [imageSrc]=" '../../assets/js.png' "
      [backgroundColor]="'rgb(34, 119, 164)'" [imageHeight]="80" [imageWidth]="80" [showImage]="true"
      [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'" [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="75" [radius]="100" [imageSrc]=" '../../assets/git.png' "
      [backgroundColor]="'rgb(34, 119, 164)'" [imageHeight]="80" [imageWidth]="80" [showImage]="true"
      [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'" [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="95" [radius]="100" [showTitle]="true" [title]="'Ingles'"
      [backgroundColor]="'rgb(34, 119, 164)'" [titleColor]="'black'" [titleFontSize]="'3em'" [showUnits]="false"
      [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4" [outerStrokeColor]="'red'"
      [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="95" [radius]="100" [imageSrc]=" '../../assets/grupal.png' "
      [backgroundColor]="'rgb(34, 119, 164)'" [imageHeight]="80" [imageWidth]="80" [showImage]="true"
      [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
      [outerStrokeColor]="'red'" [innerStrokeColor]="'blue'" [animation]="true" [animationDuration]="1000">
    </circle-progress>
  </div>
</div>
